
.header-d-1{
	width:100%;
	height:100px;
	background-color:#6D6E6A;
	display:inline-block;
	
}     
.header-d-logo{
	width:200px;
	height:80px;
	background-color:red;
	margin:10px;
	display:inline-block;
	
}    
.header-d-menu{
	width:600px;
	height:80px;
	background-color:red;
	margin:10px;
	display:inline-block;
	float:right;
}
.banner{
	width:100%;
	height:500px;
	background-color:blue;
}
.heading{
	width:500px;
	height:80px;
	background-color:red;
	margin:10px auto;
}
.about-sec{
	width:100%;
	height:400px;
	background-color:red;
	
}
.about-sec-1{
	width:50%;
	height:400px;
	background-color:blue;
	display:inline-block;

}
.about-sec-2{
	width:50%;
	height:400px;
	background-color:orange;
	display:inline-block;
	float:right;
}
.image{
	width: 100%;
	height:400px; 
	background-color:purple;
}
.footer{
	width:500px;
	height:80px;
	background-color:red;
	margin:10px auto;
}
